# Directories to ignore on Mac/Linux

{{- if eq .chezmoi.os "darwin" }}
.config/i3/
.config/polybar/
.config/picom/
.config/rofi/
.config/keyd/
.config/fuzzel
.config/wezterm/
{{- end }}

{{- if eq .chezmoi.os "linux" }}
.config/aerospace/
.config/skhd/
.config/spacebar/
{{- end }}

{{- if eq .displayServer "X11" }}
.config/waybar/
.config/kanshi/
.config/fuzzel/
{{- end }}

{{- if eq .displayServer "wayland" }}
.config/polybar/
.config/picom/
.config/rofi/
{{- end }}

