# Directories to ignore on Mac/Linux

{{- if eq .chezmoi.os "darwin" }}
.config/i3/
.config/polybar/
.config/picom/
.config/rofi/
.config/keyd/
.config/xremap/
{{- end }}

{{- if eq .chezmoi.os "linux" }}
.config/yabai/
.config/skhd/
.config/spacebar/
{{- end }}

