// vim: ft=jsonc
[{
  "layer": "top",
  "output": "HDMI-A-2",
  "include": "~/.config/waybar/modules.jsonc",

  "modules-left": ["niri/workspaces"],
  "modules-center": ["niri/window"],
  "modules-right": [
    "custom/recording",
    "bluetooth",
    "pulseaudio",
    {{- if eq .chezmoi.hostname "asahi" }}
    "network",
    "battery",
    {{- end }}
    "clock",
    "clock#date"
  ]
}, {
  "layer": "top",
  "output": "DP-1",
  "include": "~/.config/waybar/modules.jsonc",

  "modules-left": ["clock", "clock#date", "custom/recording"],
  "modules-center": ["niri/window"],
  "modules-right": ["niri/workspaces"]
}, {
  "layer": "top",
  "output": ["!HDMI-A-2", "!DP-1", "*"],
  "include": "~/.config/waybar/modules.jsonc",

  "modules-left": ["niri/workspaces"],
  "modules-center": ["niri/window"],
  "modules-right": [
    "custom/recording",
    "bluetooth",
    "pulseaudio",
    {{- if eq .chezmoi.hostname "asahi" }}
    "network",
    "battery",
    {{- end }}
    "clock",
    "clock#date"
  ]
}]
