// vim: ft=jsonc
{
  "niri/workspaces": {
    // "current-only": true,
    "format": "{icon} {index}",
    "format-icons": {
        "default": "󱓼",
        "focus": "󱓻",
        "chat": "󰻞",
        "media": "󰋋",
    }
  },

  "niri/window": {
    "format": "{app_id} {title}",
    "rewrite": {
      "^(?:(.{0,64}?)[–—].*|(.{64}).*)": "$1$2"
    },
    "separate-outputs": false
  },

  "network": {
    "format-wifi": "{icon}  {essid}",
    "format-icons": ["󰤯", "󰤟", "󰤢", "󰤥", "󰤨"],
    "format-ethernet": "󰈀 {ipaddr}/{cidr}",
    "format-linked": "󰛳 {ifname}",
    "format-disconnected": "󰅛 disconnected",
    "tooltip-format": "{ipaddr}\\n{ifname} ({signalStrength}%)",
    "on-click": "nm-connection-editor"
  },

  "bluetooth": {
    "format": "󰂯 {status}",
    "format-connected": "󰂰 {device_alias}",
    "format-disabled": "󰂲",
    "tooltip-format": "{controller_alias}\\t{controller_address}\\n\\n{num_connections} connected",
    "tooltip-format-connected": "{controller_alias}\\t{controller_address}\\n\\n{num_connections} connected\\n\\n{device_enumerate}",
    "tooltip-format-enumerate-connected": "{device_alias}\\t{device_address}",
    "on-click": "blueman-manager"
  },

  "pulseaudio": {
    "format": "{icon} {volume}%",
    "format-muted": "󰝟 M",
    "format-icons": {
      "default": ["󰕿", "󰖀", "󰕾"]
    },
    "scroll-step": 5,
    "on-click": "pavucontrol",
    "on-click-right": "pactl set-sink-mute @DEFAULT_SINK@ toggle"
  },

  "battery": {
    "states": {
      "warning": 30,
      "critical": 10
    },
    "format": "{icon} {capacity}%",
    "format-charging": "󰂄 {capacity}%",
    "format-plugged": "{capacity}%  plugged",
    "format-icons": ["󰂎", "󰁺", "󰁻", "󰁼", "󰁽", "󰁾", "󰁿", "󰂀", "󰂁", "󰂂", "󰁹"]
  },

  "clock": {
    "format": "󰥔 {:%H:%M}"
  },

  "clock#date": {
    "format": "󰃮 {:%d %b}",
    "tooltip-format": "<tt><small>{calendar}</small></tt>"
  }
}