@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  min-height: 0px;
}

window#waybar {
  color: @color7; /* main fg */
  background: alpha(@color0, 0.95); /* main bg */
}

#window {
    /* margin: 2px 4px; */
    /* padding: 2px 6px; */
    color: @color7;
    font-size: 10pt;
    /* background: alpha(@color8, 0.15); */
    /* border-radius: 4px; */
}

#workspaces {
  margin: 2px 8px 2px 4px;
  font-size: 12pt;
}
#workspaces button {
  padding: 2px 7px;
  color: @color8;
}
#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: transparent;
}
#workspaces button.active {
  color: @color8;
  font-weight: bold;
}
#workspaces button.focused {
  color: @color14;
}
#workspaces button.empty {
  color: @color8_reduced;
}

#network,
#battery,
#bluetooth,
#pulseaudio,
#custom-recording,
#clock,
#clock.date {
  margin: 2px 4px;
  padding: 2px 8px;
  font-size: 11pt;
  color: @color7;
  background: alpha(@color8, 0.2);
  border-radius: 4px;
}

#network.disconnected {
  color: mix(@color8, #000, 0.35);
  background: alpha(@color8, 0.1);
}

#bluetooth.connected {
  color: @color14;
}
#bluetooth.disabled {
  color: mix(@color8, #000, 0.35);
}

#pulseaudio.muted {
  color: mix(@color8, #000, 0.35);
}

#clock.date {
  margin: 2px 7px 2px 4px;
}
