@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  min-height: 0px;
}

window#waybar {
  color: @color7;  /* main fg */
  background: alpha(@color0, 0.95);  /* main bg */
}

#window {
  padding-left: 14px;
  padding-right: 10px;
  color: @color7;
}

#clock {
  margin: 2px 4px;
  padding: 2px 8px;
  border-radius: 4px;
  background: alpha(@color8, 0.2);
  color: @color7;
}

#tags button {
  padding: 4px 6px;
  min-width: 25px;
  color: @color8_reduced;  /* dimmed foreground / inactive */
  border-radius: 4px;
}

#tags button:hover {
  box-shadow: none;
  text-shadow: none;
  background: transparent;
}

#tags button.occupied {
  color: @color8;  /* light focus */
  font-weight: bold;
}

#tags button.focused {
  color: @color14;  /* heavy focus */
}


