[main]
font=Geist Mono:weight=semibold
width=50
horizontal-pad=35
vertical-pad=18
inner-pad=12
layer=overlay

[colors]
background={{ .bgColor }}dd
text={{ .fgColor }}ff
match={{ .color9 }}ff
selection={{ .color8 }}ff
selection-match={{ .color9 }}ff
selection-text={{ .fgColor }}ff
border={{ .color4 }}ff
