# vim: ft=conf

command = env SKIP_TMUX=1 /usr/bin/fish

scrollback-limit = 80000000

keybind = clear
shell-integration = fish
{{ if eq .chezmoi.os "darwin" }}
macos-option-as-alt = true
window-decoration = true
macos-titlebar-style = hidden
macos-non-native-fullscreen = true
keybind = ctrl+shift+enter=toggle_quick_terminal
{{- else }}
gtk-adwaita = true
gtk-wide-tabs = true
adw-toolbar-style=raised-border
# gtk-custom-css = tabs.css
resize-overlay = after-first
resize-overlay-position = bottom-right
resize-overlay-duration = 500ms
window-decoration = false
window-theme = ghostty
window-subtitle = working-directory
{{- end }}
app-notifications = no-clipboard-copy

# cursor
copy-on-select = clipboard
cursor-style = block
cursor-style-blink = false
cursor-invert-fg-bg = true
mouse-hide-while-typing = true
mouse-scroll-multiplier = 1
mouse-shift-capture = true
unfocused-split-opacity=0.78

# ===== theme =====
#
# fonts
config-file = fonts
{{- if eq .chezmoi.hostname "asahi" }}
font-size = 13
{{- else }}
font-size = 13
{{- end }}
# custom-shader = shaders/dither.glsl
# custom-shader = shaders/water.glsl
# custom-shader = shaders/bettercrt.glsl

# color
theme = light:wallust,dark:wallust
term = xterm-256color

# padding
window-padding-balance = false
window-padding-x = 17,17
window-padding-y = 4,4


# ===== keymap =====

# config

keybind = ctrl+tab=toggle_tab_overview
keybind = ctrl+comma=open_config
keybind = ctrl+shift+n=new_window
keybind = ctrl+shift+comma=reload_config
keybind = ctrl+shift+i=inspector:show

keybind = alt+a>ctrl+r=reload_config

# nav
keybind = alt+up=scroll_page_lines:-3
keybind = alt+down=scroll_page_lines:3
keybind = alt+u=scroll_page_up
keybind = alt+d=scroll_page_down
keybind = alt+[=jump_to_prompt:-1
keybind = alt+]=jump_to_prompt:1
keybind = alt+shift+[=scroll_to_top
keybind = alt+shift+]=scroll_to_bottom

keybind = alt+a>minus=new_split:down
keybind = alt+a>backslash=new_split:right
keybind = alt+a>shift+minus=new_split:up
keybind = alt+a>shift+backslash=new_split:left

keybind = alt+a>ctrl+n=new_window
keybind = super+n=new_window
# keybind = alt+a>ctrl+tab=toggle_window_decorations

keybind = alt+a>z=toggle_split_zoom

keybind = alt+s>enter=write_screen_file:open
keybind = alt+s>space=write_scrollback_file:open
keybind = alt+s>shift+space=write_selection_file:open

keybind = alt+h=goto_split:left
keybind = alt+j=goto_split:down
keybind = alt+k=goto_split:up
keybind = alt+l=goto_split:right

keybind = alt+shift+h=resize_split:left,50
keybind = alt+shift+j=resize_split:down,50
keybind = alt+shift+k=resize_split:up,50
keybind = alt+shift+l=resize_split:right,50

keybind = alt+shift+t=new_tab
keybind = alt+shift+left=move_tab:-1
keybind = alt+shift+right=move_tab:1

keybind = alt+a>equal=equalize_splits
keybind = alt+a>alt+x=close_surface

keybind = alt+left=previous_tab
keybind = alt+right=next_tab

# keybind = alt+comma>s=open_config
keybind = alt+comma>s=text:czw ~/.config/ghostty/config\r
keybind = alt+comma>r=reload_config

# clipboard
keybind = ctrl+shift+c=copy_to_clipboard
keybind = ctrl+shift+v=paste_from_clipboard
keybind = shift+insert=paste_from_selection
keybind = ctrl+shift+u=copy_url_to_clipboard

# text selection
keybind = ctrl+shift+a=select_all

keybind = performable:shift+left=adjust_selection:left
keybind = performable:shift+right=adjust_selection:right
keybind = performable:shift+up=adjust_selection:up
keybind = performable:shift+down=adjust_selection:down

keybind = performable:shift+home=adjust_selection:beginning_of_line
keybind = performable:shift+end=adjust_selection:end_of_line
keybind = performable:shift+page_up=adjust_selection:page_up
keybind = performable:shift+page_down=adjust_selection:page_down

# resizing
keybind = ctrl+equal=increase_font_size:1
keybind = ctrl+minus=decrease_font_size:1
keybind = shift+ctrl+plus=increase_font_size:1
keybind = ctrl+kp_equal=increase_font_size:1
keybind = shift+ctrl+minus=decrease_font_size:1
keybind = ctrl+zero=reset_font_size

# newline
keybind = shift+enter=text:\n
