# vim: set filetype=i3config :

font pango:Monaspace Neon Light 8

gaps outer 5
gaps inner 15

# Border
title_align center
default_border pixel 2
default_floating_border pixel 2

# Colors
set $color0 {{ .color0 }}
set $color1 {{ .color1 }}
set $color1 {{ .color2 }}
set $color3 {{ .color3 }}
set $color4 {{ .color4 }}
set $color5 {{ .color5 }}
set $color6 {{ .color6 }}
set $color7 {{ .color7 }}
set $color8 {{ .color8 }}

# class                 border  bg      text    ind     child_border
client.focused          $color0 $color0 $color7 $color2 $color5
client.focused_inactive $color0 $color0 $color2 $color4 $color0
client.unfocused        $color0 $color0 $color8 $color0 $color0
client.urgent           $color1 $color1 $color7 $color1 $color1
client.placeholder      $color0 $color0 $color7 $color0 $color0
client.background       $color0

