# vim: set filetype=i3config :

set $resizemenu "resize: [dir] increments • [1-3] horizontal, [4-6] vertical"
bindsym $mod+r mode $resizemenu
mode $resizemenu {
    bindsym $left        resize grow left 300 px or 10 ppt
    bindsym $down        resize grow down 300 px or 10 ppt
    bindsym $up          resize grow up 300 px or 10 ppt
    bindsym $right       resize grow right 300 px or 10 ppt
    bindsym Shift+$left  resize shrink left 300 px or 10 ppt
    bindsym Shift+$down  resize shrink down 300 px or 10 ppt
    bindsym Shift+$up    resize shrink up 300 px or 10 ppt
    bindsym Shift+$right resize shrink right 300 px or 10 ppt

    bindsym $alt+$left        resize grow left 100 px or 5 ppt
    bindsym $alt+$down        resize grow down 100 px or 5 ppt
    bindsym $alt+$up          resize grow up 100 px or 5 ppt
    bindsym $alt+$right       resize grow right 100 px or 5 ppt
    bindsym Shift+$alt+$left  resize shrink left 100 px or 5 ppt
    bindsym Shift+$alt+$down  resize shrink down 100 px or 5 ppt
    bindsym Shift+$alt+$up    resize shrink up 100 px or 5 ppt
    bindsym Shift+$alt+$right resize shrink right 100 px or 5 ppt
    
    bindsym 1 resize set width 35 ppt
    bindsym 2 resize set width 50 ppt
    bindsym 3 resize set width 75 ppt
    bindsym 4 resize set height 35 ppt
    bindsym 5 resize set height 50 ppt
    bindsym 6 resize set height 75 ppt

    bindsym g mode $movemenu
    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym $mod+r mode "default"
}

set $movemenu "move: [dir] increments • [c]enter, [m]ouse"
bindsym $mod+g mode $movemenu
mode $movemenu {
    bindsym $left move left 10 ppt
    bindsym $down move down 10 ppt
    bindsym $up move up 10 ppt
    bindsym $right move right 10 ppt

    bindsym $alt+$left move left 2 ppt
    bindsym $alt+$down move down 2 ppt
    bindsym $alt+$up move up 2 ppt
    bindsym $alt+$right move right 2 ppt

    bindsym c move position center
    bindsym m move position mouse

    bindsym r mode $resizemenu
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

bindsym $mod+shift+g mode "gaps"
mode "gaps" {
    bindsym $up gaps inner all plus 5
    bindsym $down gaps inner all minus 5
    bindsym $left gaps outer all minus 5
    bindsym $right gaps outer all plus 5
    bindsym shift+$up gaps inner all plus 2
    bindsym shift+$down gaps inner all minus 2
    bindsym shift+$left gaps outer all minus 2
    bindsym shift+$right gaps outer all plus 2
    bindsym 0 gaps inner all set 0; gaps outer all set 0; mode "default"

    bindsym r reload
    bindsym Return mode "default"
    bindsym Escape mode "default"

}

set $screenshotmenu "screenshot: [r]egion  [w]indow  [f]ullscreen"
bindsym $mod+s mode $screenshotmenu
mode $screenshotmenu {
{{- if and (eq .displayServer "X11") (eq .chezmoi.hostname "cd-tower") }}
    bindsym r --release exec --no-startup-id screenshot select; mode "screenshot"; mode "default"
    bindsym w --release exec --no-startup-id screenshot window; mode "screenshot"; mode "default"
    bindsym f --release exec --no-startup-id screenshot full; mode "screenshot"; mode "default"
{{ else if eq .displayServer "wayland" }}
    bindsym r exec shotman --capture region; mode "default"
    bindsym w exec shotman --capture window; mode "default"
    bindsym f exec shotman --capture output; mode "default"
{{ end }}
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

set $layoutmenu "layout: [s]tacked   [tab]bed   [h]-split   [v]-split"
bindsym $mod+x mode $layoutmenu
mode $layoutmenu {
    # stacked
    bindsym s layout stacking ; mode "default"
    # tabbed
    bindsym Tab layout tabbed  ; mode "default"
    bindsym Control+Tab layout tabbed  ; mode "default"
    # split
    bindsym b layout splith ; mode "default"
    bindsym h layout splith ; mode "default"
    bindsym v layout splitv ; mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

set $sysmenu "system:  [r]eload  [l]ock  [p]oweroff  re[b]oot"
bindsym Control+$alt+x mode $sysmenu
mode $sysmenu {
    bindsym r reload
    bindsym g mode $gapsmenu
    bindsym Control+r restart
    # bindsym l exec --no-startup-id ~/.config/i3/scripts/lock.sh ; mode "default"
    bindsym Control+p exec shutdown -P now
    bindsym Control+b exec shutdown -r now
    
    bindsym Control+Escape exit
    bindsym Return mode "default"
    bindsym Escape mode "default"
    # bindsym Control+$alt+x mode "default"
}

