# vim: ft=toml

backend = "full"            # can be "full", "resized", "thumb", "wal", or "fastresize"
color_space = "lab"         # can be "lab", "labmixed", or "labfast"
threshold = 20              # distance threshold between similar colors
filter = "dark16"           # can be "dark16", "light16", etc.

[templates]
tmux.src           = "tmux.conf"
tmux.target        = "~/.config/tmux/theme.conf"
tmux.new_engine    = true

chezmoi.src        = "chezmoi.toml"
chezmoi.target     = "~/.local/share/chezmoi/.toml/colors.toml"
chezmoi.new_engine = true

neovim.src         = "neopywal.vim"
neovim.target      = "~/.cache/wal/colors-wal.vim"
neovim.new_engine  = true

fzf.src            = "fzf.sh"
fzf.target         = "~/.config/fzf/colors.sh"
fzf.new_engine     = true

aider.src          = "aider.env"
aider.target       = "~/.config/aider/colors.env"
aider.new_engine   = true

mako.src           = "mako.conf"
mako.target        = "~/.config/mako/colors.conf"
mako.new_engine    = true

lazygit.src        = "lazygit.yml"
lazygit.target     = "~/.config/lazygit/colors.yml"
lazygit.new_engine = true

{{ if ne .displayServer "none" -}}
wal.src            = "wal.json"
wal.target         = "~/.cache/wal/colors.json"
wal.new_engine     = true

ghostty.src        = "ghostty"
ghostty.target     = "~/.config/ghostty/themes/wallust"
ghostty.new_engine = true

rofi.src           = "rofi.rasi"
rofi.target        = "~/.config/rofi/theme/colors.rasi"
rofi.new_engine    = true

{{   if eq .displayServer "X11" -}}
xresources.src     = "colors.xresources"
xresources.target  = "~/.Xresources.d/colors.xresources"
{{   end -}}

{{   if eq .displayServer "wayland" -}}
waybar.src         = "waybar.css"
waybar.target      = "~/.config/waybar/colors.css"
waybar.new_engine  = true

niri.src           = "niri.kdl"
niri.target        = "~/.config/niri/colors.kdl"
niri.new_engine    = true
{{   end -}}
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
sketchybar.src        = "sketchybar.sh"
sketchybar.target     = "~/.config/sketchybar/colors.sh"
sketchybar.new_engine = true
{{ end -}}
