// vim: set ft=kdl

layout {
    pane size=1 borderless=true {

        plugin location={{if eq .chezmoi.os "darwin" }}"file:/Users/josh/.config/zellij/plugins/zjstatus.wasm"{{ else }}"file:/home/josh/.config/zellij/plugins/zjstatus.wasm"{{ end }} {
            format_left  "{mode} #[fg=5,bold]{session} {tabs}"
            format_right "{datetime}"
            format_space ""

            border_enabled  "false"
            border_char     "─"
            border_format   "#[fg=#6C7086]{char}"
            border_position "top"

            hide_frame_for_single_pane "true"

            tab_normal            "#[fg=#6C7086] {name} "
            tab_normal_sync       "#[fg=#6C7086] {name}  "
            tab_normal_fullscreen "#[fg=#6C7086] {name}  "
            tab_active            "#[fg=#9399B2,bold,italic] {name} "
            tab_active_sync       "#[fg=#9399B2,bold,italic] {name}  "
            tab_active_fullscreen "#[fg=#9399B2,bold,italic] {name}  "

            mode_normal        "#[bg=5] "
            mode_pane          "#[bg=5] pane "
            mode_tab           "#[bg=5] tab "
            mode_rename_tab    "#[bg=5]   tab "
            mode_rename_pane   "#[bg=5]   pane "
            mode_resize        "#[bg=5] resize "
            mode_move          "#[bg=5] move "
            mode_scroll        "#[bg=5] scroll "
            mode_search        "#[bg=5] search "
            mode_enter_search  "#[bg=5]   scroll "
            mode_session       "#[bg=5] session "
            mode_prompt        "#[bg=5] prompt "
            mode_locked        "#[bg=1] locked "
            mode_tmux          "#[bg=3] "

            datetime        "#[fg=#6C7086,bold] {format} "
            datetime_format "%a, %d %b • %-l:%M%P"
            datetime_timezone "America/New_York"
        }
    }
    pane
}
