# vim: ft=conf

[ids]
*

[main]
capslock = overload(navigation, esc)
rightmeta = layer(rightwin)
tab = timeout(overload(hyper, tab), 260, macro2(260, 33, tab))
{{ if eq .chezmoi.hostname "asahi" -}}
fn = leftcontrol
leftalt = leftmeta
leftmeta = leftalt
rightmeta = rightalt
rightalt = rightcontrol
{{- end }}

[navigation]
h = left
j = down
k = up
l = right

\ = backspace
backspace = delete
space = space

left = home
right = end
up = pageup
down = pagedown

[hyper:C-A-M]
esc = macro2(260, 33, tab)

# preserve modifier+Tab shortcuts by emitting expected chords
[control:C]
tab = macro(C-tab)

[alt:A]
tab = macro(A-tab)

[meta:M]
tab = macro(M-tab)

[shift:S]
tab = macro(S-tab)

[control+shift:C-S]
tab = macro(C-S-tab)

[alt+shift:A-S]
tab = macro(A-S-tab)

[meta+shift:M-S]
tab = macro(M-S-tab)

{{ if eq .chezmoi.hostname "cd-tower" }}
[navigation+shift]
\ = delete

[rightwin]
[ = previoussong
] = nextsong
0 = mute
- = volumedown
= = volumeup
backspace = playpause

h = home
j = pagedown
k = pageup
l = end
{{ end }}
