[ids]
*

[main]
capslock = overload(capslock_layer, esc)
{{ if eq .chezmoi.hostname "asahi" -}}
fn = leftcontrol
leftalt = leftmeta
leftmeta = leftalt
rightmeta = rightalt
rightalt = rightcontrol
{{- end -}}
{{ if eq .chezmoi.hostname "cd-tower" }}esc = grave{{ end }}

[capslock_layer:C-S-A-M]
h = left
j = down
k = up
l = right

\ = backspace
backspace = delete
space = space

left = home
right = end
up = pgup
down = pgdown

{{ if eq .chezmoi.hostname "cd-tower" }}
[capslock_layer+shift]
\ = delete
{{ end }}
