[ids]
*

[main]
capslock = overload(capslock_layer, esc)
{{ if eq .chezmoi.hostname "asahi" -}}
fn = leftcontrol
leftalt = leftmeta
leftmeta = leftalt
rightmeta = rightalt
rightalt = rightcontrol
{{- end -}}
{{ if eq .chezmoi.hostname "cd-tower" }}esc = grave{{ end }}

[capslock_layer:C-S-A-M]
h = left
j = down
k = up
l = right
\ = backspace
