// Animations/gestures/overview
overview {
    zoom 0.85
    workspace-shadow { off; }
}

gestures {
    hot-corners {
        off
    }
    dnd-edge-workspace-switch {
        trigger-height 100
        max-speed 2000
    }
}

animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=3000 epsilon=0.0001
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=3000 epsilon=0.0001
    }
    window-open {
        spring damping-ratio=1.0 stiffness=3000 epsilon=0.0001
    }
    window-close {
        spring damping-ratio=1.0 stiffness=3000 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=3000 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=3000 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=1.0 stiffness=3000 epsilon=0.0001
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=1500 epsilon=0.0001
    }

    slowdown 1.0
}

recent-windows {
    open-delay-ms 80
    debounce-ms 200
    highlight {
        padding 20
    }
    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}
