// vim: ft=kdl

include "input.kdl"
include "animations.kdl"
include "window-rules.kdl"
include "binds.kdl"
include "colors.kdl"

workspace "focus"
workspace "media"
workspace "chat"

environment {
    MOZ_ENABLE_WAYLAND "0"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    {{- if (not (eq .chezmoi.hostname "asahi")) }}
    __EGL_VENDOR_LIBRARY_FILENAMES "/usr/share/glvnd/egl_vendor.d/10_nvidia.json"
    NVD_BACKEND "direct"
    {{- end }}
}

output "eDP-1" {
    scale 1.75
}
output "HDMI-A-2" {
    mode "3840x2160@143.999"
    scale 1.12
    transform "normal"
}
output "DP-1" {
    mode "3840x2160@60"
    scale 1.2
    position x=-3840 y=180
}

layout {
    gaps 16
    center-focused-column "never"
    preset-column-widths {
        {{- if (eq .chezmoi.hostname "asahi") }}
        proportion 0.35
        proportion 0.5
        proportion 0.65
        {{- else }}
        proportion 0.3
        proportion 0.4
        proportion 0.5
        proportion 0.6
        {{- end }}
    }
    {{- if (eq .chezmoi.hostname "asahi") }}
    default-column-width { proportion 0.5; }
    {{- else }}
    default-column-width { proportion 0.4; }
    {{- end }}
    default-column-display "tabbed"
    tab-indicator {
        position "top"
        hide-when-single-tab
        gaps-between-tabs 3
        length total-proportion=0.6
        width 4
        gap 4
        corner-radius 3
    }
    shadow {
        on
        softness 6
        spread -3
        draw-behind-window true
    }
    focus-ring {
        off
        width 2
    }
    border {
        on
        width 4
    }
    insert-hint {
    }

    // outer gaps
    struts {
        left 8
        right 8
        top 6
        bottom 6
    }

    background-color "transparent"
}

// startup
spawn-at-startup "~/.config/waybar/launch.sh"
spawn-at-startup "swaybg -i $(colorweave wallpaper show loupe --format json | jq -r .path)"

// misc
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

clipboard {
    disable-primary
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd
