{{- if eq .displayServer "wayland" }}alias i3-msg='swaymsg'{{ end }}
alias ls='eza --icons'
alias tree='eza --tree'

alias fe='yazi'
alias yz='yazi'
alias lg='lazygit'

alias zj='zellij'
alias zr='zellij_refresh'

alias cz='chezmoi'
alias cza='chezmoi apply'
alias cz-applytheme='chezmoi apply --include scripts && chezmoi apply --include templates && i3-msg reload'

{{ if eq .chezmoi.os "darwin" }}
alias copy='pbcopy'
{{ else if eq .displayServer "wayland" }}
alias copy='wl-copy'
{{ else if eq .displayServer "X11" }}
alias copy='xclip -selection clipboard'
{{ end }}
alias cpimg='copy -t image/png -i'

# Warn when about to pip install globally
alias pip='pip_wrapper'

# List files being tracked by git
alias print-staged='git ls-files --stage | awk "{print \$4}" | grep -v -e "__init__.py" -e "requirements.txt" -e ".gitignore"'


alias nvim-scratch="nvim --cmd 'let g:no_startscreen = 1'"
