{{- if eq .displayServer "wayland" }}alias i3-msg='swaymsg'{{ end }}
alias ls='eza --icons'
alias tree='eza --tree'

alias fe='yazi'
alias yz='yazi'
alias lg='lazygit'

alias zj='zellij'
alias zjr='zellij_refresh'

alias cz='chezmoi'
alias cz-e='chezmoi edit'
alias cz-w='chezmoi edit --watch'
alias cza='chezmoi apply'
alias cz-applytheme='chezmoi apply --include scripts && chezmoi apply --include templates{{ if eq .chezmoi.os "linux" }} && i3-msg reload{{ end }}'

{{ if eq .chezmoi.os "darwin" }}
alias copy='pbcopy'
{{ else if eq .displayServer "wayland" }}
alias copy='wl-copy'
{{ else if eq .displayServer "X11" }}
alias copy='xclip -selection clipboard'
{{ end }}
alias cpimg='copy -t image/png -i'

# Warn when about to pip install globally
alias pip='pip_wrapper'

# List files being tracked by git
alias print-staged='git ls-files --stage | awk "{print \$4}" | grep -v -e "__init__.py" -e "requirements.txt" -e ".gitignore"'

# contextualize
alias cx='contextualize'
# contextualize cat
alias cxc='contextualize cat'
alias cxcc='contextualize cat --output clipboard'
# alias cxce='contextualize cat | nvim -c "set ft=markdown" -'  # these need to be functions
# alias cxce='contextualize-edit cat'
# contextualize fetch
alias cxf='contextualize fetch'
alias cxfc='contextualize fetch --output clipboard'
# alias cxfe='contextualize fetch | nvim -c "set ft=markdown" -'
# alias cxfe='contextualize-edit fetch'

alias nvim-scratch="nvim --cmd 'let g:no_startscreen = 1'"

