# vim: ft=toml

[character]
success_symbol = '[❯](bold green)'
error_symbol = '[❯](bold red)'
vimcmd_symbol = '[✜](bold blue)'
vimcmd_replace_symbol = '[✜](bold yellow)'
vimcmd_replace_one_symbol = '[✛](bold yellow)'
vimcmd_visual_symbol = '[✜](bold purple)'

[aws]
symbol = "  "
{{- if or (eq .chezmoi.hostname "cd-tower") (eq .chezmoi.hostname "asahi") }}
disabled = true
{{ end }}
[buf]
symbol = " "

[c]
symbol = " "

[conda]
symbol = " "

[dart]
symbol = " "

[directory]
read_only = " 󰌾"

# [direnv]
# disabled=false

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fossil_branch]
symbol = " "
{{ if or (eq .chezmoi.hostname "cd-tower") (eq .chezmoi.hostname "asahi") }}
[gcloud]
disabled = true
{{ end }}
[git_branch]
symbol = " "

[git_status]
stashed=""
style="bold grey"

[git_metrics]
disabled=false
added_style = 'bold yellow'
format = '[+$added]($added_style)/[-$deleted]($deleted_style) '

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "
style = "bold white"
format = "is [$symbol$version]($style) "

[pijul_channel]
symbol = " "

[python]
symbol = " "
style="bold green"
format="via [${symbol}${pyenv_prefix}(${version} )]($style)"

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = " "

[scala]
symbol = " "
